<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/temp.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Sign up</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  </head>
  <body>
    <h1>Sign up</h1>

    <form class="login-form" autocomplete="off" action="#" id="signup">
      <input type="email" name="email" placeholder="Email" />
      <div class="input-icon">
        <input type="password" name="email" placeholder="Password" />
        <i class="fa fa-eye show-password"></i>
      </div>
      <button>Sign up</button>
    </form>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyB-It_I-XER4IeXwkygactqV6Vkx_4qp_s",
        authDomain: "exitwebsi.firebaseapp.com",
        projectId: "exitwebsi",
        storageBucket: "exitwebsi.appspot.com",
        messagingSenderId: "289539335682",
        appId: "1:289539335682:web:f8287d1c3028365a29291b",
        measurementId: "G-4NL8KT02KC",
      };
      firebase.initializeApp(firebaseConfig);
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
      firebase.analytics();
      window.addEventListener("load", function () {
        const loginForm = document.querySelector(".login-form");
        const showPasswordIcon =
          loginForm && loginForm.querySelector(".show-password");
        const inputPassword =
          loginForm && loginForm.querySelector('input[type="password"');
        showPasswordIcon.addEventListener("click", function () {
          const inputPasswordType = inputPassword.getAttribute("type");
          inputPasswordType === "password"
            ? inputPassword.setAttribute("type", "text")
            : inputPassword.setAttribute("type", "password");
        });
      });

      window.addEventListener("DOMContentLoaded", () => {
        var firebaseConfig = {
          apiKey: "AIzaSyB-It_I-XER4IeXwkygactqV6Vkx_4qp_s",
          authDomain: "exitwebsi.firebaseapp.com",
          projectId: "exitwebsi",
          storageBucket: "exitwebsi.appspot.com",
          messagingSenderId: "289539335682",
          appId: "1:289539335682:web:f8287d1c3028365a29291b",
          measurementId: "G-4NL8KT02KC",
        };
        if (!firebase.apps.length) {
          firebase.initializeApp(firebaseConfig);
        }
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
        firebase.analytics();

        document
          .getElementById("signup")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target[0].value;
            const password = event.target[1].value;

            firebase
              .auth()
              .createUserWithEmailAndPassword(login, password)
              .then(({ user }) => {
                return user.getIdToken().then((idToken) => {
                  return fetch("/sessionLogin", {
                    method: "POST",
                    headers: {
                      Accept: "application/json",
                      "Content-Type": "application/json",
                      "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                    },
                    body: JSON.stringify({ idToken }),
                  });
                });
              })
              .then(() => {
                return firebase.auth().signOut();
              })
              .then(() => {
                window.location.assign("/profile");
              });
            return false;
          });
      });
    </script>
  </body>
</html>
